@import "tailwindcss";

@theme inline {
  --font-antonio: var(--font-antonio);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-special-elite: var(--font-special-elite);
  --font-amiri: var(--font-amiri);
  --font-fira-code: var(--font-fira-code), monospace;
  --animate-blink: blink 1s step-end infinite;

  --color-terminal-aqua: #00FFFF;
  --color-terminal-blue: #5555FF;
  --color-terminal-red: #FF414C;

  @keyframes blink {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}

@custom-variant taos (&.taos-init:where(:not(.taos-animate)));

html.js :where([class*="taos:"]:not(.taos-init)) {
  visibility: hidden;
}

@source inline('!duration-[0ms] !delay-[0ms]');

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
  border-left: 1px solid white;
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-terminal-aqua);
}